
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-right-small:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-search-3:before { content: '\e807'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */