/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #565656;
    font-weight: bold;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/case_agencia_ziriga_action360_banner.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/case_agencia_ziriga_action360_site_banner.jpg");
  background-position: top top !important;
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/case_ziriga_action360_rebrand_socialMedia.png");
  background-position: top top !important; 
}
.cd-fixed-bg.cd-bg-4 {
  background: #00b1bb;
  
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/case_agencia_ziriga_action360_facebook_banner.jpg");
  
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 100px;  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: auto;
  padding: 4em 0;
  line-height: 1.6;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #fff;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #fff;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #transparent;
  color: #3d3536;
}

.cd-color-6{
  background-color: #fff;
}

 .icon-down-open-big{
  font-size: 60px;
  color: #fff;
  z-index: 999;
}





 .cta {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cta p{
  color: #A4AAB1;
  text-align: center;
  margin: 15px auto 40px auto;
  padding-top: 30px;
} 

form{
      margin: auto;
    background-color: rgba(0, 0, 0, 0.0);
    width: 50%;
    min-height: 100%;
    padding: 30px;
    display: block;
    position: relative;
    top: 100px;

}
input, textarea{
  background: transparent;
  border-bottom: 1px solid #A4AAB1;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}

textarea{
  border: 1px solid #8fc438;
}

input:focus{
  border-bottom: 2px solid #8fc438;
  transition-property: background-color; /*propriedades obrigatorias*/
    transition-duration: 0.5s; /*propriedades obrigatorias*/
    transition-timing-function: ease;/*ease (padrão) ease-in-out, ease-out, linear, cubic-bezier*/ 
    transition-delay: 1s; /* delay de animação */
     box-shadow: 0 0 0 0;
    outline: 0;
    
}
textarea:focus{
  border-bottom: 2px solid #8fc438;
   box-shadow: 0 0 0 0;
    outline: 0;
    
}


.cd-container h1{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.cd-container h1 span{
  font-weight: 200;
}

.cd-container img{
    margin: 30px auto;
    display: block;
}



.mock{
  width: 100%;
}

.mock2{
  width: 60%;
  display: block;
  margin: 0px auto 0 auto;
}
.mock3{
  position: relative;
  top: 50px;
  width: 70%;
  display: block;
  margin: 60px auto 0 auto;
}
.mock-logo{
  width: 40%;
}

.mobiles img{
  display: inline-block;
  float: left;
  width: 190px;
}

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }

  .mock-logo{
  width: 60%;
}
}

@media only screen and (max-width: 475px) {
  form{
    width: 90%;
  }
.mock{
  width: 100%;
}
  .mock-logo{
  width: 90%;
}
}@media only screen and (max-width: 320px) {
  form{
    width: 90%;
  }
.mock{
  width: 100%;
}
  .mock-logo{
  width: 90%;
}
}

button{
  background: #84cf38;
    font-size: 20px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    font-weight: bold;
}
button:hover{
  color: #fff;
  background-color: orange;
}

form h3{
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 50px;
}

form h3 span{
  font-weight: 200;
}

.form-error{
  border: 1px #84cf38;
  color: #fff;
}

.help-block{
  display: none;
  color: #fff
}

.valid-error{
    display: block;
    background: #84cf38;
    margin-top: 0;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}


.alert-success{
  background-color: #4AFFA4;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}
.alert-danger{
  background-color: #FF4C45;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}

::-webkit-input-placeholder  { color:#fff;  font-size: 14px; font-weight: bold;}
input:-moz-placeholder { color:#fff;  font-size: 14px; font-weight: bold;}
textarea:-moz-placeholder { color:#fff;  font-size: 14px; font-weight: bold;}​